.logement {
    position: relative;
    img {
      width: 100%;
      height: 450px;
      object-fit: cover;
    
    }
  
    .carousel-navigation {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;

  
      img {
      font-size: 2px;
     
        cursor: pointer;
        padding: 2em;
  
  
      
      }
    }
  }
  