.logement {
  position: relative;
  width: 100%;

  .InfoLogement {
    display: flex;
    flex-direction: column;


    .location {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1em;
    margin-top: 0.5em;
    }

    .tags-container{
   
      display: flex;
      justify-content: space-between; 
      align-items: center; 

      .tag {
        padding: 0.5em 2em;
        background-color: #FF6060;
        border-radius: 20px;
        margin-right: 0.5em;
        color: #ffffff;
        font-weight: 600;
        font-size: medium;
    }

  }
  
    .logement-host {
      display: flex;
      justify-content: space-between; 
    
   
    .title {
      color: #FF6060;
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 0;
 
  
    }

      .host {
        display: flex;
        align-items: center;
        width: 14%;
        margin-top: 1.5em;

        p {
          margin-right: 2.5em;
          color: #FF6060;
          width: 30%;
        }

        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

 

  .content {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 3em;

    .collapse {
      flex: 1;
      margin: 0;
      position: relative;

      .cardCollapse {
        height: 45px;
        margin-top: 1.5em;

        h2{
          margin-top: 0;
        }
      }

      .content {
        padding: 0;
        line-height: 1.5em;
        padding-top: 1em;
        margin-bottom: 3em;
      }

      .description {
        padding: 1em;
      }

      .equipment-list {
        padding: 1em;
      }

      .equipment {
        line-height: 1.5em;
      }

    }

    .space-between {
      width: 70px;
    }
  }
}
