@use "./sass/header";
@use "./sass/banner";
@use "./sass/gallery";
@use "./sass/footer";
@use "./sass/collapse";
@use "./sass/error";
@use "./sass/logement";
@use "./sass/carousel";
@use "./sass/rating";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    overflow-x: hidden; 
}
.home, .header , .banner, .about, .logement {
    max-width: 1140px;
	margin: auto;
 
    .home-banner {
        position: relative;
    }
    
    .home-banner h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2.3rem;
        padding-bottom: 1.5em;
    }
.Gallery {
    display: flex;
    flex-wrap:wrap;
    padding-bottom: 6rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    width: 100%;
    height: 100% ;
    background-color: #F6F6F6; 
    gap: 3rem;  
  }
}

